.buttonsPage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

.buttonsText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100px;
}